.app-button {
  height: 20px;
  min-width: 40px;
  border: 1px solid #ff6f59;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f8b4aa;
}

.app-button:hover {
  background-color: #fc9282;
}
