.app-header {
  background-color: blanchedalmond;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#header-btn {
  width: 50px;
  background-color: blueviolet;
}
