.app-footer {
  background-color: rgb(188, 186, 182);
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer-link {
  text-decoration: none;
  color: #254441;
}

.footer-link:hover {
  color: #426965;
}
