.app-footer {
  background-color: blanchedalmond;
  min-height: 50px;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.footer-link {
  text-decoration: none;
  color: #254441;
}

.footer-link:hover {
  color: #426965;
}
